WEATHER_API_URL="WEATHER_API_URL"
WEATHER_API_HOST="WEATHER_API_HOST"
WEATHER_API_KEY="WEATHER_API_KEY"

SENDER_HOST="SENDER_HOST"
SENDER_EMAIL_ADRESS="SENDER_EMAIL_ADRESS"
FROM_EMAIL_ADRESS="FROM_EMAIL_ADRESS"
SENDER_EMAIL_SECRET="SENDER_EMAIL_SECRET"
